table
{
    float:right;
}
        
a:link, a:visited 
{
    background-color: #ffffff;
    color: #4f674f;
    padding: 15px 25px;
    text-decoration: none;
    display: inline-block;
}

body 
{
    background-image: url("work.png");
}

.h11
{
    position:relative;
    left:100px;
    top:150px;
    font-size: 75px;
    color:white;
}

.h12
{
    position:relative;
    left:100px;
    top:100px;
    font-size: 75px;
    color:white;
}

h2
{
    position:relative;
    left: 100px;
    color:white;
    top:200px;
    font-size:40px;
}

h3
{
    position:relative;
    left:100px;
    color:white;
    top:200px;
    font-size:25px;
}