<!--.signin
{
    box-sizing: border-box;
    position: absolute;
    width: 103px;
    height: 36px;
    left: 1291px;
    top: 34px;
    border: 1px solid #031CFF;
    border-radius: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #031CFF;
    float:right;
}-->

th{
    position:relative;
    width:199px;
    height:8.5px;
    top:44px;
    left:855px;   
    font-family: 'Campton';
    font-size:12px;
    line-height:14px;
    color:#3D3D3D
}

body
{
    background-color:#E5E5E5;
    margin:40px;
}

.b1
{
    position: absolute;
width: 14px;
height: 14px;
left: 89px;
top: 59.8px;

background: #F24F2B;
mix-blend-mode: multiply;
transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
}

.b2
{
    position: absolute;
width: 14px;
height: 14px;
left: 128.6px;
top: 59.8px;

background: #1FBCFA;
mix-blend-mode: multiply;
transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
}

.b3
{
    position: absolute;
width: 14px;
height: 14px;
left: 98.8px;
top: 30px;

background: #19CF87;
mix-blend-mode: multiply;
transform: rotate(45deg);
}

.b4
{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 98.8px;
    top: 69.6px;
    
    background: #A159F9;
    mix-blend-mode: multiply;
    transform: rotate(-135deg);
}

.goFig
{
    position: absolute;
    width: 75px;
    height: 36px;
    left: 157px;
    top: 64px;
    font-family: Campton, Sans-serif;
    font-size: 25.886px;
    line-height: 30px;
    color: #3D3D3D;
}

.logo
{
    position:relative;
    left:50px;
    top:10px;
}

.gpb
{
    position:relative;
    width:96%;
    height:700px;
    top:79px;
    left:40px;
}

.goPlaces
{
    width:358;
    height:93px;
    position: absolute;
    top:200px;
    left:191px;
    font-family:Roboto, sans-serif;
    font-weight:900;
    font-size:78.92px;
    line-height:92.48px;
    color:#ffffff;
    margin-top: 251px;
    margin-left:301px;
    margin-bottom:272px;
    margin-right:701px;
}