body 
{
    background-image: url("title page.png");
}

h1
{
    font-size:100px;
    color:#ffffff;
    font-family: Rasputin Light, sarif;
    text-align: center;
    position:relative;
    top:350px;
}
