table
{
    float:right;
}
        
a:link, a:visited 
{
    background-color: #ffffff;
    color: #4f674f;
    padding: 15px 25px;
    text-decoration: none;
    display: inline-block;
    font-family: Rasputin Light, sarif;
    border: 5px solid #4f674f;
}

body 
{
    background-image: url("about.png");
    margin:70px;
}

h1
{
    position:relative;
    left:100px;
    top:150px;
    font-size: 75px;
    color: #2e3c2e;
}

.h21
{
    float:right;
    position:relative;
    top:-175px;
    text-align:left;
    color:#4f674f;
    right:20px;
}