body 
{
    background-image: url("contact.png");
    margin:70px;
}

.h11
{
    position:relative;
    top:220px;
    font-size: 75px;
    color:white;
    font-family: Rasputin Light, sarif;
}

table
{
    float:right;
    font-family: Rasputin Light, sarif;
}
        
a:link, a:visited 
{
    background-color: #ffffff;
    color: #4f674f;
    padding: 15px 25px;
    text-decoration: none;
    display: inline-block;
    font-family: Rasputin Light, sarif;
    border: 5px solid #b7cdb7;
}

.h21
{
    position:relative;
    top: 290px;
    left: 790px;
    color: white;
    font-family: Rasputin Light, sarif;
}

.h22
{
    position:relative;
    top: 245px;
    left:1255px;
    color:white;
    font-family: Rasputin Light, sarif;
}

div
{
    color: white; 
    font-family: Rasputin Light, sarif;
    font-size:30px;
    position:relative;
    top:200px;
}

.in1
{
    width:300px;
}

.in2
{
    width:300px;
}

.in3
{
    width:267px;
}

.in4
{
    width:100px;
    height:50px;
    font-size:20px;
    position:relative;
    right:1535px;
    top:15px;
    color:#4f674f;
}

.h23
{
    position:relative;
    top:275px;
    left:155px;
    font-size:20px;
    color:white;
    font-family: Rasputin Light, sarif;
}

